<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script>

    </script>
    <style>
        html {
            height: 100vh;
        }

        body {
            background: #f9f9f9;
        }

        #wrapper {
            padding: 90px 15px;
        }

        .navbar-expand-lg .navbar-nav.side-nav {
            flex-direction: column;
        }

        .card {
            margin-bottom: 15px;
            border-radius: 0;
            box-shadow: 0 3px 5px rgba(0,0,0,.1);
        }

        .header-top {
            box-shadow: 0 3px 5px rgba(0,0,0,.1)
        }

        .leftmenutrigger {
            display: none
        }

        @@media(min-width:992px) {
            .leftmenutrigger {
                display: block;
                display: block;
                margin: 7px 20px 4px 0;
                cursor: pointer;
            }

            #wrapper {
                padding: 90px 15px 15px 15px;
            }

            .navbar-nav.side-nav.open {
                left: 0;
            }

            .navbar-nav.side-nav {
                background: #585f66;
                box-shadow: 2px 1px 2px rgba(0,0,0,.1);
                position: fixed;
                top: 56px;
                flex-direction: column !important;
                left: -220px;
                width: 200px;
                overflow-y: auto;
                bottom: 0;
                overflow-x: hidden;
                padding-bottom: 40px
            }
        }

        .animate {
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out
        }
    </style>
</head>

<body>
    <div id="wrapper" class="animate">
        <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-primary">
            <span class="navbar-toggler-icon leftmenutrigger"></span>
            <a class="navbar-brand" href="/Board/Index">APSmini</a>
            @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav animate side-nav">
                    <li class="nav-item" style="text-align:center;">
                        <a class="nav-link" href="/Board/Schedule">
                            Schedule
                        </a>
                    </li>
                    <li class="nav-item" style="text-align:center;">
                        <a class="nav-link" href="/Board/Order">
                            Order
                        </a>
                    </li>
                    <li class="nav-item" style="text-align:center;">
                        <a class="nav-link" href="/Board/LineCapacity">
                            Capacity
                        </a>
                    </li>
                    <li class="nav-item" style="text-align:center;">
                        <a class="nav-link" href="/Board/Routing">
                            Routing
                        </a>
                    </li>
                    <li class="nav-item" style="text-align:center;">
                        <a class="nav-link" href="/Board/WorkStation">
                            Work Station
                        </a>
                    </li>
                    <li class="nav-item" style="text-align:center;">
                        <a class="nav-link" href="/Board/Product">
                            Product
                        </a>
                    </li>
                    <li class="nav-item" style="text-align:center;">
                        <a class="nav-link" href="/Board/BOM">
                            BOM
                        </a>
                    </li>
                    <li class="nav-item" style="text-align:center;">
                        <a class="nav-link" href="/Board/Memo">
                            Memo
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-right">
                <li class="navbar-text">@Session["UserName"] (@Session["CompanyName"]) &nbsp;</li>
                <li class="navbar dropdown open">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user" style="color:white"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user" style="right:0px; left:auto;">
                        <li class="nav-item">
                            <a href="/Account/UserInfo" class="nav-link">
                                <i class="fa fa-user fa-fw"></i>
                                User Profile
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-item">
                            <a href="/Account/Logout" class="nav-link">
                                <i class="fa fa-sign-out fa-fw"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>




    <!-- 페이지 Content-->
    <div id="content">
        @RenderBody()
    </div>

    <script>
        $(document).ready(function () {
            var url = window.location;

            $('ul.components a').filter(function () {
                return this.href == url;
            }).parent().addClass('active');
        });


        $(document).ready(function () {
            $('.leftmenutrigger').on('click', function (e) {
                $('.side-nav').toggleClass("open");
                e.preventDefault();
            });
        });
    </script>
</body>
@Html.Raw(TempData["msg"])
</html>
