@model APS.Models.Views.Product
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.core.min.js"></script>

<style>
    @@media (min-width: 400px) and (max-width: 1800px) {
        table tbody {
            max-height: 400px;
        }
    }

    @@media (min-width: 1800px) and (max-width: 2400px) {
        table tbody {
            max-height: 580px;
        }
    }

    table tbody {
        display: block;
        overflow-y: scroll;
    }

        table thead, table tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
</style>

@{
    ViewBag.Title = "APSmini";
}

<div class="row">
    <div class="col-md-2 col-lg-2"></div>
    <div class="col-md-8 col-lg-8 container-fluid">
        <h3>BOM<button class="btn btn-primary" onclick="DisplayBOM();" style="float:right; border-radius:0px; margin-left:3px;">Search</button><input type="text" class="form form-control" id="searchBOM" name="serachBOM" style="float:right; width:150px; border-radius:0px;" /></h3>
        <hr />
        <div class="row" id="ProductInfoContainer" style="height:200px; margin-left:1%; margin-right:1%;">
            <div class="col-md-12" id="">
                <!--BOM Data Panel-->
                <div class="form-group row" style="padding-left:20px; padding-top:20px; border:1px solid gray; background-color:white; height:130px;">
                    <!--product Number-->
                    <label for="productNumber" class="col-1 col-form-label">Number : </label>
                    <div class="col-3">
                        <input type="text" readonly class="form-control" id="productNumber" name="productNumber" style="width:100%;" value="">
                    </div>
                    <!--product Number-->
                    <!--product Group-->
                    <label for="productGroup" class="col-1 col-form-label">Group : </label>
                    <div class="col-3">
                        <input type="text" readonly class="form-control" id="productGroup" name="productGroup" value="">
                    </div>
                    <!--product Group-->
                    <!--product Sub Group-->
                    <label for="productSubGroup" class="col-1 col-form-label" style="font-size:14px;"> Sub Group : </label>
                    <div class="col-3">
                        <input type="text" readonly class="form-control" id="productSubGroup" name="productSubGroup" value="">
                    </div>
                    <!--product Sub Group-->
                    <!--product Type-->
                    <label for="productType" class="col-1 col-form-label">Type :</label>
                    <div class="col-3">
                        <input type="text" readonly class="form-control" id="productType" name="productType" style="width:100%;" value="">
                    </div>
                    <!--product Type-->
                    <!--User-->
                    <label for="createUser" class="col-1 col-form-label">User : </label>
                    <div class="col-3">
                        <input type="text" readonly class="form-control" id="createUser" name="createUser" value="">
                    </div>
                    <!--User-->
                    <!--Description-->
                    <label for="description" class="col-1 col-form-label">Description : </label>
                    <div class="col-3">
                        <input type="text" readonly class="form-control" id="description" name="description" value="">
                    </div>
                    <!--Description-->
                </div>
                <!--BOM Data Panel-->
                <!--Button Group-->
                <div class="row" style="float:right; margin-top: 5px;">
                    <!--Minus Structure-->
                    <label id="minusBtn" class="btn btn-danger" style="float:right; border-radius:0px; margin-right:5px;" onclick="minusStructure();"><i class="fa fa-minus"></i></label>
                    <!--Minus Structure-->
                    <!--Plus Structure-->
                    <label id="plusBtn" class="btn btn-warning" style="float:right; border-radius:0px; margin-right:5px;" onclick="plusStructure();"><i class="fa fa-plus"></i></label>
                    <!--Plus Structure-->
                    <!--Save BOM-->
                    <label id="saveBtn" class="btn btn-success" style="float:right; border-radius:0px; margin-right:5px;" onclick="saveBOM();"><i class="fa fa-save"></i></label>
                    <!--Save BOM-->
                    <!--Upload excel Data-->
                    <label data-target="#excelModal" data-toggle="modal" class="btn btn-info" style="float:right; border-radius:0px;" id="uploadExcel" name="uploadExcel"><i class="fa fa-file-excel-o"></i></label>
                    <!--Upload excel Data-->
                </div>
                <!--Button Group-->
            </div>
        </div>
        <!--BOM Container-->
        <div class="row" id="BomContainer" style="margin-top:5px;">
            <table class="table table-striped table-bordered table-hover header-fixed" id="BOMLst" name="BOMLst" style="text-align:center; width:90%; margin-left:5%;">
                <thead>
                    <tr>
                        <th width="10%">Number</th>
                        <th width="10%">Count</th>
                        <th width="10%">Group</th>
                        <th width="15%">Sub Group</th>
                        <th width="10%">Type</th>
                        <th width="20%">Description</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!--BOM Container-->
    </div>
    <div class="col-md-2 col-lg-2"></div>
</div>
<!--Excel Upload-->
<div class="modal fade" id="excelModal" tabindex="-1" role="dialog" aria-labelledby="uploadExcel-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="uploadExcel-label">Upload BOM Lst</h4>
            </div>
            <div class="modal-body">
                <form id="form-excelmodal">
                    <!--upload File-->
                    <input type="file" name="excelfile" id="excelfile" value="" />
                    <!--upload File-->
                    <hr />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="excelClose" onclick="">Close</button>
                <button type="button" class="btn btn-primary" onclick="exportToBOM();">Save</button>
                
            </div>
        </div>
    </div>
</div>
<!--Excel Upload-->
<script>

    $(document).ready(function () {

        // up mouse down
        $(".btn").mousedown(function (e) {
            e.preventDefault();
        })

        // check MVC data & display BOM data
        if (@Model.ProductNumber!= 0) {
            $('#searchBOM').val(@Model.ProductNumber);
            DisplayProductInfo();
            DisplayBOM();
        }
    });

    // Excel Lst data to BOM DB
    function exportToBOM() {
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xlsx|.xls)$/;
        /*Checks whether the file is a valid excel file*/
        if (regex.test($("#excelfile").val().toLowerCase())) {
            var xlsxflag = false; /*Flag for checking whether excel is .xls format or .xlsx format*/
            if ($("#excelfile").val().toLowerCase().indexOf(".xlsx") > 0) {
                xlsxflag = true;
            }
            /*Checks whether the browser supports HTML5*/
            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var data = e.target.result;
                    /*Converts the excel data in to object*/
                    if (xlsxflag) {
                        var workbook = XLSX.read(data, { type: 'binary' });
                    }
                    else {
                        var workbook = XLS.read(data, { type: 'binary' });
                    }
                    /*Gets all the sheetnames of excel in to a variable*/
                    var sheet_name_list = workbook.SheetNames;
                    var cnt = 0; /*This is used for restricting the script to consider only first sheet of excel*/
                    sheet_name_list.forEach(function (x) { /*Iterate through all sheets*/
                        /*Convert the cell value to Json*/
                        if (xlsxflag) {
                            var exceljson = XLSX.utils.sheet_to_json(workbook.Sheets[x]);
                        }
                        else {
                            var exceljson = XLS.utils.sheet_to_row_object_array(workbook.Sheets[x]);
                        }
                        if (exceljson.length > 0 && cnt == 0) {
                            BindTable(exceljson);
                            cnt++;
                        }
                    });
                }
                if (xlsxflag) {/*If excel file is .xlsx extension than creates a Array Buffer from excel*/
                    reader.readAsArrayBuffer($("#excelfile")[0].files[0]);
                }
                else {
                    reader.readAsBinaryString($("#excelfile")[0].files[0]);
                }
            }
            else {
                alert("Sorry! Your browser does not support HTML5!");
            }
        }
        else {
            alert("Please upload a valid Excel file!");
        }
    }

    // Bind Excel data to DB Table
    function BindTable(jsondata) {/*Function used to convert the JSON array to Html Table*/
        var columns = BindTableHeader(jsondata); /*Gets all the column headings of Excel*/
        var bomLst = [];
        var parentProductNumber;
        for (var i = 0; i < jsondata.length; i++) {
            // push to productLst (Excel to array)
            var description;
            var childProductNumber;
            var count;
            for (var colIndex = 0; colIndex < columns.length; colIndex++) {
                var cellValue = jsondata[i][columns[colIndex]];
                if (cellValue == null) {
                    cellValue = "";
                }
                if (colIndex == 1 && cellValue == 999) {
                    parentProductNumber = jsondata[i][columns[colIndex - 1]];
                    count = 999;
                } else {
                    if (colIndex == 0) {
                        childProductNumber = cellValue;
                    } else {
                        count = cellValue;
                    }
                }
            }
            bomLst.push({ "ParentProductNumber": parentProductNumber, "ChildProductNumber": childProductNumber, "Count": count });
        }

        // Create BOM by Excel Data Lst
        $.ajax({
            type: "POST",
            url: "/api/BOM/",
            data: "name=John&location=Boston",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(bomLst),
            success: function (response) {
                $('#excelClose').click();
                window.location.href = '/Board/BOM/';
            }
        });
    }

    // Bind Excel data to DB Table Header
    function BindTableHeader(jsondata) {/*Function used to get all column names from JSON and bind the html table header*/
        var columnSet = [];
        for (var i = 0; i < jsondata.length; i++) {
            var rowHash = jsondata[i];
            for (var key in rowHash) {
                if (rowHash.hasOwnProperty(key)) {
                    if ($.inArray(key, columnSet) == -1) {/*Adding each unique column names to a variable array*/
                        columnSet.push(key);
                    }
                }
            }
        }
        return columnSet;
    }

    // Save BOM Data
    function saveBOM() {
        var bomLst = [];
        var parentProductNumber = $('#productNumber').val();
        $('#BOMLst > tbody > tr').each(function () {
            var count = $(this).find('td:eq(1) > input').val();
            var childProductNumber = $(this).find('td:eq(0) >input').val();
            bomLst.push({ "ParentProductNumber" : parentProductNumber, "ChildProductNumber" : childProductNumber, "Count" : count });
        })
        if (bomLst.length == 0) {
            // Delete BOM if structure size is less than 0
            $.ajax({
                type: "DELETE",
                url: "/api/BOM/" + parentProductNumber,
                data: "name=John&location=Boston",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(bomLst),
                success: function (response) {

                }
            });
        }
        // Create BOM data
        $.ajax({
            type: "POST",
            url: "/api/BOM/",
            data: "name=John&location=Boston",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(bomLst),
            success: function (response) {
            }
        });
    }
    // Display Product Info
    function DisplayProductInfo() {
        $('#createUser').val('@Model.CreateUserName');
        $('#productNumber').val(@Model.ProductNumber);
        $('#productGroup').val('@Model.ProductGroupName');
        $('#productSubGroup').val('@Model.ProductSubGroupName');
        $('#productType').val('@Model.ProductTypeName');
        $('#description').val('@Model.Description');
    }

    // Plus BOM Structure
    var index = 1;
    function plusStructure() {
        $(this).keyup();
        var data = "<tr><td width=\"10.2%\">" + "<input type='text' class='form-control' id='" + index + "'>" + "</td>";
        data += "<td width=\"10.2%\">" + "<input type='text' class='form-control'>" + "</td>";
        data += "<td width=\"10.2%\"> " + "<input type='text' class='form-control' readonly>" + "</td >";
        data += "<td width=\"15.3%\"> " + "<input type='text' class='form-control' readonly>" + "</td>";
        data += "<td width=\"10.2%\">" + "<input type='text' class='form-control' readonly>" + "</td>";
        data += "<td width=\"19.5%\">" + "<input type='text' class='form-control' readonly>" + "</td>";
        data += "</tr>";
        $('#BOMLst').append(data);
        $('#BOMLst > tbody > tr').find('td:first #'+index).focusout(function () {
            var $this = $(this);
            var productNumber = $(this).val();
            $.ajax({
                type: "GET",
                url: "/api/Product/" + productNumber,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    $this.parent().parent().find('td:eq(2) > input').val(response.ProductGroupName);
                    $this.parent().parent().find('td:eq(3) > input').val(response.ProductSubGroupName);
                    $this.parent().parent().find('td:eq(4) > input').val(response.ProductTypeName);
                    $this.parent().parent().find('td:eq(5) > input').val(response.Description);
                }
            });
        })
        index++;
    }

    // Minus Structure
    function minusStructure() {
        $('#BOMLst > tbody > tr:last').remove();
    }

    // Display BOM data
    function DisplayBOM() {
        $('#BOMLst > tbody').html('');
        var productNumber = $('#searchBOM').val();
        $.ajax({
            type: "GET",
            url: "/api/Product/" + productNumber,
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                 $('#createUser').val(response.CreateUserName);
                 $('#productNumber').val(response.ProductNumber);
                 $('#productGroup').val(response.ProductGroupName);
                 $('#productSubGroup').val(response.ProductSubGroupName);
                 $('#productType').val(response.ProductTypeName);
                 $('#description').val(response.Description);
                // 전체 BOM 출력 구문
            },
            error: function (xhr, ajaxOptions, thrownErorr) {
                window.location.href = '/Board/BOM?productNumber=' + null;
            }
        });

        // Get BOM Data by product Number
        $.ajax({
            type: "GET",
            url: "/api/BOM/" + productNumber,
            contentType: 'application/json; charset=utf-8',
            data: "name=John&location=Boston",
            dataType: "json",
            async: false,
            success: function (response) {
                $.each(response, function (key, value) {
                    var count = value.Count;
                    var productNumber = value.ChildProductNumber;
                    // Get Child Proudct Number
                    $.ajax({
                        type: "GET",
                        url: "/api/Product/" + productNumber,
                        contentType: 'application/json; charset=utf-8',
                        data: "name=John&location=Boston",
                        dataType: "json",
                        async: false,
                        success: function (response) {
                            var data = "<tr><td width=\"10.2%\"><input type='text' class='form-control' value=\"" + productNumber +  "\">" + "</td>";
                            data += "<td width=\"10.2%\"><input type='text' class='form-control' value=\"" + count + "\">" + "</td>";
                            data += "<td width=\"10.2%\"><input type='text' class='form-control' readonly value=\"" + response.ProductGroupName + "\">" + "</td >";
                            data += "<td width=\"15.3%\"><input type='text' class='form-control' readonly value=\"" + response.ProductSubGroupName + "\">" + "</td>";
                            data += "<td width=\"10.2%\"><input type='text' class='form-control' readonly value=\"" + response.ProductTypeName + "\">" + "</td>";
                            data += "<td width=\"19.5%\"><input type='text' class='form-control' readonly value=\"" + response.Description + "\">" + "</td>";
                            data += "</tr>";
                            $('#BOMLst').append(data);
                        }
                    });
                })
            }
        });
    }
</script>
