
@{
    ViewBag.Title = "Product";
}

<div class="row">
    <div class="col-md-2 col-lg-2"></div>
    <div class="col-md-8 col-lg-8 container-fluid">
        <h3>
            Product
            <button data-target="#" data-toggle="modal" class="btn btn-info" style="float:right;" id="uploadExcel" name="uploadExcel">
                <i class="fa fa-file-excel-o"></i>
            </button>
            <button data-target="#myModal" data-toggle="modal" class="btn btn-primary" style="float:right; margin-right:5px;" id="createProduct" name="createProduct">품목 생성</button>
            <button data-target="#" data-toggle="modal" class="btn btn-danger" style="float:right; margin-right:5px;" id="deleteProduct" name="deleteProduct">품목 삭제</button>
        </h3>
        <hr />
        <div class="row">
            <div class="col-12">
                <h5 style="width:250px; display:inline-block">
                    Group : <select class="custom-select" style="width:120px;" id="GroupLst" name="GroupLst" onchange="bindSubData();">
                        <option style="padding-left:10px;" value="0">--전체--</option>
                    </select>
                    <button class="btn btn-primary" data-target="#GroupModal" data-toggle="modal"><i class="fa fa-database"></i></button>
                </h5>
                <h5 style="width:290px; display:inline-block">
                    Sub Group : <select class="custom-select" style="width:120px;" id="SubGroupLst" name="SubGroupLst" onchange="DisplayProduct();" disabled>
                        <option style="padding-left:10px;" value="0">--전체--</option>
                    </select>
                    <button class="btn btn-primary" data-target="#SubGroupModal" data-toggle="modal" id="CreateSubGroupBtn" disabled><i class="fa fa-database"></i></button>
                </h5>
                <h5 style="width:240px; display:inline-block">
                    Type : <select class="custom-select" style="width:120px;" id="TypeLst" name="TypeLst" onchange="DisplayProduct();">
                        <option style="text-align:center;" value="0">--전체--</option>
                    </select>
                    <button class="btn btn-primary" data-target="#TypeModal" data-toggle="modal"><i class="fa fa-database"></i></button>
                </h5>
                <h5 style="width:250px; display:inline-block">
                    Order : <select class="custom-select" style="width:120px;" id="OrderLst" name="OrderLst" onchange="DisplayProduct();">
                        <option style="text-align:center;" value="0">--전체--</option>
                    </select>
                    <button class="btn btn-warning" data-target="#Warning" data-toggle="modal"><i class="fa fa-plus"></i></button>
                </h5>
            </div>
            <div class="col-3">

            </div>
            <div class="col-3">

            </div>
        </div>
        <hr />
        <div class="row container-fluid" id="ProductContainer">
            <!--Product 리스트 테이블-->
            <table class="table table-bordered table-striped table-hover" id="ProductLst" name="ProductLst" style="text-align:center; margin-left:10px;">
                <tr>
                    <th style="width:150px;">Number</th>
                    <th style="width:200px;">Group</th>
                    <th style="width:200px;">Sub Group</th>
                    <th style="width:150px;">Type</th>
                    <th>Description</th>
                    <th style="width:100px;">User</th>
                    <th style="width:150px;">Created Date</th>
                </tr>
            </table>
        </div>

    </div>
    <div class="col-md-2 col-lg-2"></div>
</div>

<!--Order Rule 생성은 관리자에게 문의하세요-->
<div class="modal fade" id="Warning" tabindex="-1" role="dialog" aria-labelledby="Warning-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2><i class="fa fa-warning"> &nbsp;Warning</i></h2>
            </div>
            <div class="modal-body">
                <p>새로운 규칙은 관리자에게 문의부탁드립니다.</p>
                <p>(Email : alsgkgk777@naver.com) </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Group 관리-->
<div class="modal fade" id="GroupModal" tabindex="-1" role="dialog" aria-labelledby="Warning-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Group Management</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" style="padding-top:10px;">
                    <div class="form-inline" style="margin-top: auto; margin-bottom:auto;">
                        <label class="control-label" for="CreateNewGroup">Create New Group : </label>
                        <input type="text" name="CreateNewGroup" id="CreateNewGroup" value="" class="form-control" style="max-width:70%; margin-left:10px;" maxlength="115" autofocus placeholder="그룹 속성을 입력하세요." required />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="GroupModalClose" onclick="clearGroupModal();">Close</button>
                <button type="button" class="btn btn-primary" onclick="createNewGroup();">Create</button>
            </div>
        </div>
    </div>
</div>
<!--Group 관리-->
<!--Sub Group 관리-->
<div class="modal fade" id="SubGroupModal" tabindex="-1" role="dialog" aria-labelledby="Warning-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Sub Group Management</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" style="padding-top:10px;">
                    <div class="form-inline" style="margin-top: auto; margin-bottom:auto;">
                        <label class="control-label" for="CreateNewSubGroup">Create New Sub Group : </label>
                        <input type="text" name="CreateNewSubGroup" id="CreateNewSubGroup" value="" class="form-control" style="max-width:70%; margin-left:10px;" maxlength="115" autofocus placeholder="서브그룹 속성을 입력하세요." required />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"  id="SubGroupModalClose" onclick="clearGroupModal();">Close</button>
                <button type="button" class="btn btn-primary" onclick="createNewSubGroup();">Create</button>
            </div>
        </div>
    </div>
</div>
<!--Sub Group 관리-->
<!--Type 관리-->
<div class="modal fade" id="TypeModal" tabindex="-1" role="dialog" aria-labelledby="Warning-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Type Management</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" style="padding-top:10px;">
                    <div class="form-inline" style="margin-top: auto; margin-bottom:auto;">
                        <label class="control-label" for="CreateNewType">Create New Type : </label>
                        <input type="text" name="CreateNewType" id="CreateNewType" value="" class="form-control" style="max-width:70%; margin-left:10px;" maxlength="115" autofocus placeholder="타입 속성을 입력하세요." required />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"  id="TypeModalClose" onclick="clearTypeModal();">Close</button>
                <button type="button" class="btn btn-primary" onclick="createNewType();">Create</button>
            </div>
        </div>
    </div>
</div>
<!--Type 관리-->
<!--Modal(새 품목 생성)-->
<div class="modal fade" draggable="true" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModal-label">Create Product</h4>
            </div>
            <div class="modal-body">
                <!--ProductNum-->
                <div class="form-group">
                    <div class="form-inline">
                        <label class="control-label" for="ProductNumber">Product Num : </label>
                        <input type="text" name="ProductNumber" id="ProductNumber" value="" class="form-control" style="max-width:70%; margin-left:10px;" maxlength="115" autofocus placeholder="품번을 입력하세요" required />
                    </div>
                </div>
                <!--ProductNum-->
                <!--Description-->
                <div class="form-group">
                    <div class="form-inline">
                        <label class="control-label" for="Description">Description &nbsp;&nbsp; : </label>
                        <input type="text" name="Description" id="Description" value="" class="form-control" style="max-width:70%; margin-left:10px;" maxlength="115" autofocus placeholder="제품 설명을 입력하세요" required />
                    </div>
                </div>
                <!--Description-->
                <!-- Group-->
                <div class="form-group">
                    <label class="control-label" for="ModalGroupLst">Group &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </label>
                    <select class="custom-select" id="ModalGroupLst" name="ModalGroupLst" style="max-width:50%; margin-left:7px;" onchange="bindModalSubData();" maxlength="115" autofocus>
                        <option style="padding-left:10px;" value="">제품 그룹을 선택하세요</option>
                    </select>
                </div>
                <!-- Group-->
                <!-- Sub Group-->
                <div class="form-group">
                    <label class="control-label" for="ModalSubGroupLst">Sub Group &nbsp;&nbsp;&nbsp; : </label>
                    <select class="custom-select" id="ModalSubGroupLst" name="ModalSubGroupLst" style="max-width:50%; margin-left:7px;" maxlength="115" autofocus disabled>
                        <option style="padding-left:10px;" value="">서브그룹을 선택하세요</option>
                    </select>
                </div>
                <!-- Sub Group-->
                <!-- Type-->
                <div class="form-group">
                    <label class="control-label" for="ModalTypeLst">Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </label>
                    <select class="custom-select" id="ModalTypeLst" name="ModalTypeLst" style="max-width:50%; margin-left:7px;" maxlength="115" autofocus>
                        <option style="padding-left:10px;" value="">제품 타입을 선택하세요</option>
                    </select>
                </div>
                <!-- Type-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose" onclick="clearProduct();">Close</button>
                <button type="button" class="btn btn-primary" onclick="createProduct();">Create</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        // 모달 auto focus
        $('#myModal').on('shown.bs.modal', function () {
            $('#newMemo').focus();
        });

        // 윈도우 종료시 실행되는 메서드
        $(window).on('beforeunload', function () {
            saveMemoOrder();

            // return '';
        });


        // GroupList + Modal 데이터 바인드
        // 회사명 리스트에 데이터 바인드
        var parentProductGroupID = 0;
        var groupUID = @Session["GroupUID"];
        $.ajax({
            type: "GET",
            url: "/api/ProductGroup/" + groupUID + "/" + parentProductGroupID,
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                $.each(response, function (key, value) {
                    // GroupList 바인드
                    var productGroup = "<option value=\"" + value.ProductGroupID + "\" >" + value.ProductGroupName + "</option>";
                    $('#GroupLst').append(productGroup);
                    $('#ModalGroupLst').append(productGroup);
                })
            }
        });

        // TypeList + Modal 데이터 바인드
        $.ajax({
            type: "GET",
            url: "/api/ProductType/" + groupUID,
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                $.each(response, function (key, value) {
                    // TypeList 바인드
                    var productType = "<option value=\"" + value.ProductTypeID + "\" >" + value.ProductTypeName + "</option>";
                    $('#TypeLst').append(productType);
                    $('#ModalTypeLst').append(productType);
                })
            }
        });

        // OrderList 데이터 바인드


        // ProductList 데이터 바인드
        DisplayProduct();
    });

    function createNewGroup() {
        var productGroupName = $('#CreateNewGroup').val();
        var groupUID = @Session["GroupUID"];
     
        var data = "{ProductGroupName : \"" + productGroupName + "\" , GroupUID : \"" + groupUID + "\"}";

        $.ajax({
            type: "POST",
            url: "/api/ProductGroup",
            data: data,
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                // GroupList 바인드
                var productGroup = "<option value=\"" + response.ProductGroupID + "\" >" + response.ProductGroupName + "</option>";
                $('#GroupLst').append(productGroup);
                $('#ModalGroupLst').append(productGroup);

                $('#GroupModalClose').click();
            }
        });
    };

    function clearGroupModal() {
        $('#CreateNewGroup').val('');
        $('#CreateNewSubGroup').val('');
    }   

    function clearTypeModal() {
        $('#CreateNewType').val('');
    }



    // 서브 구현 로직 필요
    function createNewSubGroup() {

        var productGroupName = $('#CreateNewSubGroup').val();
        var parentProductGroupID = $('#GroupLst').val();
        var groupUID = @Session["GroupUID"];
     
        var data = "{ProductGroupName : \"" + productGroupName + "\" , GroupUID : \"" + groupUID + "\" , ParentProductGroupID : \"" + parentProductGroupID + "\"}";

    $.ajax({
            type: "POST",
            url: "/api/ProductGroup",
            data: data,
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                // GroupList 바인드
                var productGroup = "<option value=\"" + response.ProductGroupID + "\" >" + response.ProductGroupName + "</option>";
                $('#SubGroupLst').append(productGroup);
                $('#ModalSubGroupLst').append(productGroup);
                $('#SubGroupModalClose').click();
            }
        });
    };

    function createNewType() {
        var productTypeName = $('#CreateNewType').val();
        var groupUID = @Session["GroupUID"];
        var data = "{ProductTypeName : \"" + productTypeName + "\" , GroupUID : \"" + groupUID + "\"}";

        $.ajax({
            type: "POST",
            url: "/api/ProductType",
            data: data,
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                // GroupList 바인드
                var productType = "<option value=\"" + response.ProductTypeID + "\" >" + response.ProductTypeName + "</option>";
                $('#TypeLst').append(productType);
                $('#ModalTypeLst').append(productType);

                $('#TypeModalClose').click();
            }
        });
    };


    // Product Lst 테이블에다가 선택된 select에 따라서 bind
    function DisplayProduct() {

        $('#ProductLst').find("tr:gt(0)").remove();
        var groupUID = @Session["GroupUID"];
        var productGroupID = $('#GroupLst').val();
        var productSubGroupID = $('#SubGroupLst').val();
        var productTypeID = $('#TypeLst').val();
        var UID = @Session["UID"];
        $.ajax({
            type: "GET",
            url: "/api/Product/" + groupUID + "/" + productGroupID + "/" + productSubGroupID + "/" + productTypeID + "/" + UID,
            data: "name=John&location=Boston",
            dataType: "json",
            success: function (response) {
                $.each(response, function (key, value) {
                    var data = "<tr><td>" + value.ProductNumber + "</td>";
                    data += "<td>" + value.ProductGroupName + "</td>"
                    data += "<td>" + value.ProductSubGroupName + "</td>"
                    data += "<td>" + value.ProductTypeName + "</td>"
                    data += "<td>" + value.Description + "</td>";
                    data += "<td>" + value.CreateUserName + "</td>";
                    data += "<td></td>";
                    data += "</th>";

                    $('#ProductLst').append(data);
                })
            }
        });
    }

    function bindSubData() {
        var index = $('#GroupLst').val();

        if (index == 0) {
            $('#SubGroupLst').prop('disabled', true);
            $('#SubGroupLst').val('0');
            $('#TypeLst').val('0');
            $('#CreateSubGroupBtn').prop('disabled', true);
        } else {
            $('#CreateSubGroupBtn').prop('disabled', false);
            $('#SubGroupLst').prop('disabled', false);
            $('#SubGroupLst').html('');
            var parentProductGroupID = index;
            var groupUID = @Session["GroupUID"];
            var initial = "<option value=\"" + 0 + "\" >" + "--전체--" + "</option>";
            $('#SubGroupLst').append(initial);

            $.ajax({
                type: "GET",
                url: "/api/ProductGroup/" + groupUID + "/" + parentProductGroupID,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $.each(response, function (key, value) {
                        // GroupList 바인드
                        var productGroup = "<option value=\"" + value.ProductGroupID + "\" >" + value.ProductGroupName + "</option>";
                         $('#SubGroupLst').append(productGroup);
                     })
                 }
            });
        }
        DisplayProduct();
        // GroupId 주고 -> sub데이터 가져오기
    }


    function bindModalSubData() {
        var index = $('#ModalGroupLst').find(":selected").index();
        if (index == 0) {
            $('#ModalSubGroupLst').prop('disabled', true);
            $('#ModalSubGroupLst').val('0');
        } else {
            $('#ModalSubGroupLst').prop('disabled', false);
            $('#ModalSubGroupLst').html('');
            var parentProductGroupID = index;
            var groupUID = @Session["GroupUID"];
            var initial = "<option value=\"" + 0 + "\" >" + "--전체--" + "</option>";
            $('#ModalSubGroupLst').append(initial);

            $.ajax({
                type: "GET",
                url: "/api/ProductGroup/" + groupUID + "/" + parentProductGroupID,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $.each(response, function (key, value) {
                        // GroupList 바인드
                        var productGroup = "<option value=\"" + value.ProductGroupID + "\" >" + value.ProductGroupName + "</option>";
                        $('#ModalSubGroupLst').append(productGroup);
                     })
                 }
            });
        }
    }


    // Modal 내용 Clear
    function clearProduct() {
        $('#ProductNumber').val('');
        $('#Description').val('');
        $('#ModalGroupLst').val('');
        $('#ModalSubGroupLst').val('0');
        $('#ModalSubGroupLst').prop('disabled',true);
        $('#ModalTypeLst').val('');
    };


     // 새 품목 생성하기
    function createProduct() {
        var productNumber = $('#ProductNumber').val();
        var description = $('#Description').val();

        var productGroupID = $('#ModalGroupLst').val();
        var productSubGroupID = $('#ModalSubGroupLst').val();
        var productTypeID = $('#ModalTypeLst').val();
        var json = "{ ProductNumber : \"" + productNumber + "\", Description : \"" + description + "\", ProductGroupID : \"" + productGroupID + "\", ProductSubGroupID : \"" + productSubGroupID + "\", ProductTypeID : \"" + productTypeID + "\", GroupUID : \"" + @Session["GroupUID"] + "\", UID : \"" + @Session["UID"]  + "\"}";

        $.ajax({
            type: "POST",
            url: "/api/Product/",
            data: json,
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var data = "<tr><td>" + response.ProductNumber + "</td>";
                data += "<td>" + response.ProductGroupName + "</td>";
                data += "<td>" + response.ProductSubGroupName + "</td>";
                data += "<td>" + response.ProductTypeName + "</td>";
                data += "<td>" + response.Description + "</td>";
                data += "<td>" + response.CreateUserName + "</td >";
                data += "<td></td>";
                data += "</th>";

                $('#ProductLst').append(data);
                $('#modalClose').click();
            }
        });
    };
</script>

