
@{
    ViewBag.Title = "Product";
}
<style>

    @@media (min-width: 400px) and (max-width: 1800px) {
       tbody{

       }
    }

    @@media (min-width: 1800px) and (max-width: 2400px) {
        table tbody {
            max-height: 650px;
        }
    }

    thead tr {
        width: 100%;
    }

    
    label.error {
        color: red;
    }

    input.error {
        border-color: #ff0000;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    select.error {
        border-color: #ff0000;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    input.error:focus {
        border-color: #ff0000;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c35e5e;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c35e5e;
    }

    select.error:focus {
        border-color: #ff0000;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c35e5e;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c35e5e;
    }

    table tbody {
        display: block;

        overflow-y: scroll;
    }

        table thead, table tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
</style>
<div class="row">
    <div class="col-md-2 col-lg-2"></div>
    <div class="col-md-8 col-lg-8 container-fluid">
        <!--Header-->
        <h3>
            Product
            <button data-target="#" data-toggle="modal" class="btn btn-info" style="float:right;" id="uploadExcel" name="uploadExcel">
                <i class="fa fa-file-excel-o"></i>
            </button>
            <button data-target="#myModal" data-toggle="modal" class="btn btn-primary" style="float:right; margin-right:5px;" id="createProduct" name="createProduct">품목 생성</button>
            <button data-target="#" data-toggle="modal" class="btn btn-danger" style="float:right; margin-right:5px;" id="deleteProduct" name="deleteProduct">품목 삭제</button>
        </h3>
        <!--Header-->
        <hr />
        <div class="row">
            <div class="col-12">
                <!--Group-->
                <h5 style="width:250px; display:inline-block">
                    Group : <select class="custom-select" style="width:120px;" id="GroupLst" name="GroupLst" onchange="bindSubData();">
                        <option style="padding-left:10px;" value="0">--전체--</option>
                    </select>
                    <button class="btn btn-primary" data-target="#GroupModal" data-toggle="modal"><i class="fa fa-database"></i></button>
                </h5>
                <!--Group-->
                <!--SubGroup-->
                <h5 style="width:290px; display:inline-block">
                    Sub Group : <select class="custom-select" style="width:120px;" id="SubGroupLst" name="SubGroupLst" onchange="DisplayProduct();" disabled>
                        <option style="padding-left:10px;" value="0">--전체--</option>
                    </select>
                    <button class="btn btn-primary" data-target="#SubGroupModal" data-toggle="modal" id="CreateSubGroupBtn" disabled><i class="fa fa-database"></i></button>
                </h5>
                <!--SubGroup-->
                <!--Type-->
                <h5 style="width:240px; display:inline-block">
                    Type : <select class="custom-select" style="width:120px;" id="TypeLst" name="TypeLst" onchange="DisplayProduct();">
                        <option style="text-align:center;" value="0">--전체--</option>
                    </select>
                    <button class="btn btn-primary" data-target="#TypeModal" data-toggle="modal"><i class="fa fa-database"></i></button>
                </h5>
                <!--Type-->
                <!--Order-->
                <h5 style="width:250px; display:inline-block">
                    Order : <select class="custom-select" style="width:120px;" id="OrderLst" name="OrderLst" onchange="DisplayProduct();">
                        <option style="text-align:center;" value="0">--전체--</option>
                    </select>
                    <button class="btn btn-warning" data-target="#Warning" data-toggle="modal"><i class="fa fa-plus"></i></button>
                </h5>
                <!--Order-->
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
        </div>
        <hr />
        <div class="row container-fluid" id="ProductContainer" style="">
            <!--Product 리스트 테이블-->
            <table class="table table-striped table-bordered table-hover header-fixed" id="ProductLst" name="ProductLst" style="text-align:center;">
                <thead>
                    <tr>
                        <th width="10%">Number</th>
                        <th width="10%">Group</th>
                        <th width="15%">Sub Group</th>
                        <th width="10%">Type</th>
                        <th width="20%">Description</th>
                        <th width="10%">User</th>
                        <th width="10%">BOM</th>
                        <th width="15%">Routing</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <!--Product 리스트 테이블-->
        </div>
    </div>
    <div class="col-md-2 col-lg-2"></div>
</div>

<!--Order Rule 생성은 관리자에게 문의하세요-->
<div class="modal fade" id="Warning" tabindex="-1" role="dialog" aria-labelledby="Warning-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2><i class="fa fa-warning"> &nbsp;Warning</i></h2>
            </div>
            <div class="modal-body">
                <p>새로운 규칙은 관리자에게 문의부탁드립니다.</p>
                <p>(Email : alsgkgk777@naver.com) </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Order Rule 생성은 관리자에게 문의하세요-->
<!--Group 관리-->
<div class="modal fade" id="GroupModal" tabindex="-1" role="dialog" aria-labelledby="Warning-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Group Management</h4>
            </div>
            <div class="modal-body">
                <form id="form-groupmodal">
                    <div class="form-group" style="padding-top:10px;">
                        <div class="form-inline" style="margin-top: auto; margin-bottom:auto;">
                            <label class="control-label" for="CreateNewGroup">Create New Group : </label>
                            <input type="text" name="CreateNewGroup" id="CreateNewGroup" value="" class="form-control" style="max-width:70%; margin-left:10px;" maxlength="115" autofocus placeholder="그룹 속성을 입력하세요." required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="GroupModalClose" onclick="clearGroupModal();">Close</button>
                <button type="button" class="btn btn-primary" onclick="return createNewGroup();" id="createNewGroupBtn">Create</button>
            </div>
        </div>
    </div>
</div>
<!--Group 관리-->
<!--Sub Group 관리-->
<div class="modal fade" id="SubGroupModal" tabindex="-1" role="dialog" aria-labelledby="Warning-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Sub Group Management</h4>
            </div>
            <div class="modal-body">
                <form id="form-subgroupmodal">
                    <div class="form-group" style="padding-top:10px;">
                        <div class="form-inline" style="margin-top: auto; margin-bottom:auto;">
                            <label class="control-label" for="CreateNewSubGroup">Create New Sub Group : </label>
                            <input type="text" name="CreateNewSubGroup" id="CreateNewSubGroup" value="" class="form-control" style="max-width:70%; margin-left:10px;" maxlength="115" autofocus placeholder="서브그룹 속성을 입력하세요." required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="SubGroupModalClose" onclick="clearGroupModal();">Close</button>
                <button type="button" class="btn btn-primary" onclick="return createNewSubGroup();">Create</button>
            </div>
        </div>
    </div>
</div>
<!--Sub Group 관리-->
<!--Type 관리-->
<div class="modal fade" id="TypeModal" tabindex="-1" role="dialog" aria-labelledby="Warning-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Type Management</h4>
            </div>
            <div class="modal-body">
                <form id="form-typemodal">
                    <div class="form-group" style="padding-top:10px;">
                        <div class="form-inline" style="margin-top: auto; margin-bottom:auto;">
                            <label class="control-label" for="CreateNewType">Create New Type : </label>
                            <input type="text" name="CreateNewType" id="CreateNewType" value="" class="form-control" style="max-width:70%; margin-left:10px;" maxlength="115" autofocus placeholder="타입 속성을 입력하세요." required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="TypeModalClose" onclick="clearTypeModal();">Close</button>
                <button type="button" class="btn btn-primary" onclick="return createNewType();">Create</button>
            </div>
        </div>
    </div>
</div>
<!--Type 관리-->
<!--Modal(새 품목 생성)-->
<div class="modal fade" draggable="true" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModal-label">Create Product</h4>
            </div>
            <div class="modal-body">
                <!--Create Product Form-->
                <form id="form-createproductemodal">
                    <!--ProductNum-->
                    <div class="form-group">
                        <div class="form-inline">
                            <label class="control-label" for="ProductNumber">Product Num : </label>
                            <input type="text" name="ProductNumber" id="ProductNumber" value="" class="form-control" style="max-width:70%; margin-left:10px;" maxlength="115" autofocus placeholder="품번을 입력하세요" required />
                        </div>
                    </div>
                    <!--ProductNum-->
                    <!--Description-->
                    <div class="form-group">
                        <div class="form-inline">
                            <label class="control-label" for="Description">Description &nbsp;&nbsp; : </label>
                            <input type="text" name="Description" id="Description" value="" class="form-control" style="max-width:70%; margin-left:10px;" maxlength="115" autofocus placeholder="제품 설명을 입력하세요" required />
                        </div>
                    </div>
                    <!--Description-->
                    <!-- Group-->
                    <div class="form-group">
                        <label class="control-label" for="ModalGroupLst">Group &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </label>
                        <select class="custom-select" id="ModalGroupLst" name="ModalGroupLst" style="max-width:50%; margin-left:7px;" onchange="bindModalSubData();" maxlength="115" autofocus>
                            <option style="padding-left:10px;" value="">제품 그룹을 선택하세요</option>
                        </select>
                    </div>
                    <!-- Group-->
                    <!-- Sub Group-->
                    <div class="form-group">
                        <label class="control-label" for="ModalSubGroupLst">Sub Group &nbsp;&nbsp;&nbsp; : </label>
                        <select class="custom-select" id="ModalSubGroupLst" name="ModalSubGroupLst" style="max-width:50%; margin-left:7px;" maxlength="115" disabled>
                            <option style="padding-left:10px;" value="">서브그룹을 선택하세요</option>
                        </select>
                    </div>
                    <!-- Sub Group-->
                    <!-- Type-->
                    <div class="form-group">
                        <label class="control-label" for="ModalTypeLst">Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </label>
                        <select class="custom-select" id="ModalTypeLst" name="ModalTypeLst" style="max-width:50%; margin-left:7px;" maxlength="115" autofocus>
                            <option style="padding-left:10px;" value="">제품 타입을 선택하세요</option>
                        </select>
                    </div>
                    <!-- Type-->
                </form>
                <!--Create Product Form-->
            </div>
            <div class="modal-footer">
                <!--From Submit Button-->
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose" onclick="clearProduct();">Close</button>
                <button type="button" class="btn btn-primary" onclick="return createProduct();">Create</button>
                <!--From Submit Button-->
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
       


        // New Group Modal Validation
        $('#form-groupmodal').validate({
            rules: {
                CreateNewGroup: {
                    required: true,
                    minlength: 3
                }
            },
            messages: {
                CreateNewGroup: {
                    required: "",
                    minlength: ""
                }
            }
        });


        // New Sub Group Modal Validation
        $('#form-subgroupmodal').validate({
            rules: {
                CreateNewSubGroup: {
                    required: true,
                    minlength: 3
                }
            },
            messages: {
                CreateNewSubGroup: {
                    required: "",
                    minlength: ""
                }
            }
        });


         // New Type Modal Validation
        $('#form-typemodal').validate({
            rules: {
                CreateNewType: {
                    required: true,
                    minlength: 3
                }
            },
            messages: {
                CreateNewType: {
                    required: "",
                    minlength: ""
                }
            }
        });


        // Create New Product Modal Validation
        $('#form-createproductemodal').validate({
            rules: {
                ProductNumber: {
                    required: true,
                    digits: true,
                    minlength: 3
                },
                Description: {
                    required: true,
                    minlength: 3
                },
                ModalGroupLst: {
                    required: true
                },
                ModalSubGroupLst: {
                    required: true
                },
                ModalTypeLst: {
                    required: true
                }
            },
            messages: {
                ProductNumber: {
                    required: "",
                    digits: "",
                    minlength: ""
                },
                Description: {
                    required: "",
                    minlength: ""
                },
                ModalGroupLst: {
                    required: ""
                },
                ModalSubGroupLst: {
                    required: ""
                },
                ModalTypeLst: {
                    required: ""
                }
            }
        });


        // New Group Modal auto focus
        $('#GroupModal').on('shown.bs.modal', function () {
            $('#CreateNewGroup').focus();
        });


        // New Sub Group Modal auto focus
        $('#SubGroupModal').on('shown.bs.modal', function () {
            $('#CreateNewSubGroup').focus();
        });


        // New Type Modal auto focus
        $('#TypeModal').on('shown.bs.modal', function () {
            $('#CreateNewType').focus();
        });


        // Create New Product Modal auto focus
        $('#myModal').on('shown.bs.modal', function () {
            $('#ProductNumber').focus();
            $('#ModalSubGroupLst').prop('disabled', true);
        });


        // Trigger when window close
        $(window).on('beforeunload', function () {

        });


        // Initial set Data
        var parentProductGroupID = 0;
        var groupUID = @Session["GroupUID"];


        // GroupList + ModalGroupList Databind - GET API with (ProductGroup Controller)
        // api/ProductGroup + "GET"
        $.ajax({
            type: "GET",
            url: "/api/ProductGroup/" + groupUID + "/" + parentProductGroupID,
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                $.each(response, function (key, value) {
                    // Option tag Data bind
                    var productGroup = "<option value=\"" + value.ProductGroupID + "\" >" + value.ProductGroupName + "</option>";
                    $('#GroupLst').append(productGroup);
                    $('#ModalGroupLst').append(productGroup);
                })
            }
        });


        // TypeList + ModalTypeList Databind - GET API with (ProductType Controller)
        // api/ProductType + "GET"
        $.ajax({
            type: "GET",
            url: "/api/ProductType/" + groupUID,
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                $.each(response, function (key, value) {
                    // Option tag Data bind
                    var productType = "<option value=\"" + value.ProductTypeID + "\" >" + value.ProductTypeName + "</option>";
                    $('#TypeLst').append(productType);
                    $('#ModalTypeLst').append(productType);
                })
            }
        });


        // Show All Product List
        DisplayProduct();


    });


    // Clear Group Modal + Sub Group Modal Form
    function clearGroupModal() {
        $('#form-groupmodal').validate().resetForm();
        $('#form-subgroupmodal').validate().resetForm();
        $('#CreateNewGroup').val('');
        $('#CreateNewSubGroup').val('');
    }


    // Clear Type Modal
    function clearTypeModal() {
        $('#form-typemodal').validate().resetForm();
        $('#CreateNewType').val('');
    }


    // Create New Group API with (ProductGroup Controller)
    function createNewGroup() {
        // check create New Group Form validation
        if ($('#CreateNewGroup').valid() == false) {
            return false;
        } else {
                var productGroupName = $('#CreateNewGroup').val();
                var groupUID = @Session["GroupUID"];
                var data = "{ProductGroupName : \"" + productGroupName + "\" , GroupUID : \"" + groupUID + "\"}";
        }
        // api/ProductGroup + "POST"
        $.ajax({
            type: "POST",
            url: "/api/ProductGroup",
            data: data,
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                // Bind GroupList + Modal GroupList Data
                var productGroup = "<option value=\"" + response.ProductGroupID + "\" >" + response.ProductGroupName + "</option>";
                $('#GroupLst').append(productGroup);
                $('#ModalGroupLst').append(productGroup);
                $('#GroupModalClose').click();
            }
        });
    };


    // Create New Sub Group API with (ProductGroup Controller)
    function createNewSubGroup() {
         // check create New Sub Group Form validation
        if ($('#CreateNewSubGroup').valid() == false) {
            return false;
        } else {
              var productGroupName = $('#CreateNewSubGroup').val();
              var parentProductGroupID = $('#GroupLst').val();
              var groupUID = @Session["GroupUID"];
              var data = "{ProductGroupName : \"" + productGroupName + "\" , GroupUID : \"" + groupUID + "\" , ParentProductGroupID : \"" + parentProductGroupID + "\"}";
        }
         // api/ProductGroup + "POST"
         $.ajax({
            type: "POST",
            url: "/api/ProductGroup",
            data: data,
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                // Bind Sub GroupList Data
                var productGroup = "<option value=\"" + response.ProductGroupID + "\" >" + response.ProductGroupName + "</option>";
                $('#SubGroupLst').append(productGroup);
                $('#SubGroupModalClose').click();
            }
         });
    };


    // Create New Typ API with (ProductType Controller)
    function createNewType() {
         // check create New Type Form validation
        if ($('#CreateNewType').valid() == false) {
            return false;
        } else {
                var productTypeName = $('#CreateNewType').val();
                var groupUID = @Session["GroupUID"];
                var data = "{ProductTypeName : \"" + productTypeName + "\" , GroupUID : \"" + groupUID + "\"}";
        }
        // api/ProductType + "POST"
        $.ajax({
            type: "POST",
            url: "/api/ProductType",
            data: data,
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                 // Bind TypeList Data
                var productType = "<option value=\"" + response.ProductTypeID + "\" >" + response.ProductTypeName + "</option>";
                $('#TypeLst').append(productType);
                $('#ModalTypeLst').append(productType);
                $('#TypeModalClose').click();
            }
        });
    };


    // Display Product Lst By Selected Index API (Group / SubGroup / Type / Order) API with (Product Controller)
    function DisplayProduct() {
        // Get All Selceted Index
        $('#ProductLst').find("tr:gt(0)").remove();
        var groupUID = @Session["GroupUID"];
        var productGroupID = $('#GroupLst').val();
        var productSubGroupID = $('#SubGroupLst').val();
        var productTypeID = $('#TypeLst').val();
        var UID = @Session["UID"];
        // api/Product + "GET"
        $.ajax({
            type: "GET",
            url: "/api/Product/" + groupUID + "/" + productGroupID + "/" + productSubGroupID + "/" + productTypeID + "/" + UID,
            data: "name=John&location=Boston",
            dataType: "json",
            success: function (response) {
                $.each(response, function (key, value) {
                    var data = "<tr><td width=\"10.2%\">" + value.ProductNumber + "</td>";
                    data += "<td width=\"10.2%\">" + value.ProductGroupName + "</td>";
                    data += "<td width=\"15.2%\"> " + value.ProductSubGroupName + "</td>";
                    data += "<td width=\"10.2%\">" + value.ProductTypeName + "</td>";
                    data += "<td width=\"20.2%\">" + value.Description + "</td>";
                    data += "<td width=\"10.2%\"> " + value.CreateUserName + "</td >";
                    data += "<td width=\"10.2%\">" + "BOM" + "</td>";
                    data += "<td width=\"14%\">" + "&nbsp;&nbsp;&nbsp;"+"Routing" + "</td>";
                    data += "</tr>";
                    $('#ProductLst').append(data);
                })
            }
        });
    }


    // Bind Sub GroupLst by selected Index of GroupLst API with (ProductGroup Controller)
    function bindSubData() {
        // get Selected index of GroupLst
        var index = $('#GroupLst').val();
        // if index = 0 -> then disable Sub GroupLst
        if (index == 0) {
            $('#SubGroupLst').prop('disabled', true);
            $('#SubGroupLst').val('0');
            $('#TypeLst').val('0');
            $('#CreateSubGroupBtn').prop('disabled', true);
        } else {
            $('#CreateSubGroupBtn').prop('disabled', false);
            $('#SubGroupLst').prop('disabled', false);
            $('#SubGroupLst').html('');
            var parentProductGroupID = index;
            var groupUID = @Session["GroupUID"];
            var initial = "<option value=\"" + 0 + "\" >" + "--전체--" + "</option>";
            $('#SubGroupLst').append(initial);
            // api/ProductGroup + "GET"
            $.ajax({
                type: "GET",
                url: "/api/ProductGroup/" + groupUID + "/" + parentProductGroupID,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $.each(response, function (key, value) {
                        // Bind Sub GroupLst Data
                        var productGroup = "<option value=\"" + value.ProductGroupID + "\" >" + value.ProductGroupName + "</option>";
                         $('#SubGroupLst').append(productGroup);
                     })
                 }
            });
        }
        // Display Product by selected index of (GroupLst / Sub GroupLst / TypeLst / OrderLst)
        DisplayProduct();
    }


    // Bind Modal Sub GroupLst by selected Index of Modal GroupLst API with (ProductGroup Controller)
    function bindModalSubData() {
        // get Selected index of Modal GroupLst
        var index = $('#ModalGroupLst').val();
        if (index == "") {
            $('#ModalSubGroupLst').prop('disabled', true);
            $('#ModalTypeLst').val('');
            $('#ModalSubGroupLst').val('');
        } else {
            $('#ModalSubGroupLst').prop('disabled', false);
            $('#ModalSubGroupLst').html('');
            var parentProductGroupID = index;
            var groupUID = @Session["GroupUID"];
            var initial = "<option value=\"\">" + "서브 그룹을 선택하세요" + "</option>";
            $('#ModalSubGroupLst').append(initial);
            // api/ProductGroup + "GET"
            $.ajax({
                type: "GET",
                url: "/api/ProductGroup/" + groupUID + "/" + parentProductGroupID,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $.each(response, function (key, value) {
                         // Bind Modal Sub GroupLst Data
                        var productGroup = "<option value=\"" + value.ProductGroupID + "\" >" + value.ProductGroupName + "</option>";
                        $('#ModalSubGroupLst').append(productGroup);
                     })
                 }
            });
        }
    }


    // Clear Modal Create Product Form
    function clearProduct() {
        $('#form-createproductemodal').validate().resetForm();
        $('#ProductNumber').val('');
        $('#Description').val('');
        $('#ModalGroupLst').val('');

        // For remove bug of jquery Validation
        $('#ModalSubGroupLst').html('');
        var initial = "<option value=\"\">" + "서브 그룹을 선택하세요" + "</option>";
        $('#ModalSubGroupLst').append(initial);
        $('#ModalSubGroupLst').val('');
        $('#ModalSubGroupLst').prop('disabled', false);
        $('#ModalSubGroupLst').validate().resetForm();

        $('#ModalTypeLst').val('');
    };


     // Create New Product API with (Product Controller)
    function createProduct() {
        // check Modal Input From Validation
        var count = 0;
        if ($('#ProductNumber').valid() == false) {
            count++;
        }
        if ($('#Description').valid() == false) {
            count++;
        }
        if ($('#ModalGroupLst').valid() == false) {
            count++;
        }
        if ($('#ModalSubGroupLst').valid() == false ) {
            count++;
        }
        if ($('#ModalTypeLst').valid() == false ) {
            count++;
        }
        if (count > 0) {
            return false;
        }
        // Get New Prodct Data (Number / Description / Group / Sub Group / Type)
        var productNumber = $('#ProductNumber').val();
        var description = $('#Description').val();
        var productGroupID = $('#ModalGroupLst').val();
        var productSubGroupID = $('#ModalSubGroupLst').val();
        var productTypeID = $('#ModalTypeLst').val();
        var json = "{ ProductNumber : \"" + productNumber + "\", Description : \"" + description + "\", ProductGroupID : \"" + productGroupID + "\", ProductSubGroupID : \"" + productSubGroupID + "\", ProductTypeID : \"" + productTypeID + "\", GroupUID : \"" + @Session["GroupUID"] + "\", UID : \"" + @Session["UID"]  + "\"}";
        // api/Product + "POST"
        $.ajax({
            type: "POST",
            url: "/api/Product/",
            data: json,
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var data = "<tr><td style=\"width:10%;\">" + response.ProductNumber + "</td>";
                data += "<td style=\"width:10%; \">" + response.ProductGroupName + "</td>";
                data += "<td style=\"width:15%; \"> " + response.ProductSubGroupName + "</td>";
                data += "<td style=\"width:10%; \">" + response.ProductTypeName + "</td>";
                data += "<td style=\"width:20%; \">" + response.Description + "</td>";
                data += "<td style=\"width:10%; \"> " + response.CreateUserName + "</td >";
                data += "<td style=\"width:10%; \">" + "" + "</td>";
                data += "<td style=\"width:15%; \">" + "" + "</td>";
                data += "</tr>";
                $('#ProductLst').append(data);
                $('#modalClose').click();
            }
        });
    };


</script>

