
@{
    ViewBag.Title = "APSmini";
}

@model  int?

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.5.8/js/jsplumb.min.js"></script>
<script src="~/Scripts/jquery.simulate.js"></script>
<style>
    #WorkStationContainer {
        background: white;
        box-shadow: 2px 1px 2px rgba(0,0,0,.1);
        /*position: fixed;
        top: 56px;
        flex-direction: column !important;
        left: 0px;*/
        width: 200px;
        padding: 0px;
        overflow-y: auto;
        overflow-x: hidden;
        /*bottom: 0;
        padding-bottom: 40px*/
        height: 1000px;
    }

    ul li {
        list-style: none;
    }

    li[id^="item"] {
        height: 40px;
        left: 0px;
        bottom: 0;
        top: 0;
        margin: 0px;
        padding: 0px;
        position: relative;
        flex-direction: column !important;
        z-index: 1;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        text-align:right;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        text-align: right;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ but I'm not sure about working */
        text-align: right;
    }

    :-ms-input-placeholder { /* Internet Explorer 10+ */
        text-align: right;
    }
  
</style>
<div class="row">
    <div class="col-md-2 col-lg-2" id="WC">
        <!--WorkStationContainer-->

        <!--WorkStationContainer-->
    </div>

    <div class="col-md-8 col-lg-8 container-fluid" id="RC">
        <div>
            <h3 style="display:inline-block;">Routing</h3>
            <button data-target="#ModalCreateRouting" data-toggle="modal" class="btn btn-primary" style="float:right;" id="createRouting" name="createRouting">등록</button>
            <button data-target="#" class="btn btn-danger" style="float:right; margin-right:5px;" id="deleteRouting" name="deleteRouting" onclick="removeRouting();">제거</button>
            <select class="custom-select" style="width:120px; margin-right:5px; float:right;" id="RoutingLst" name="RoutingLst" onchange="bindRoutingData();">
                <option style="padding-left:10px;" value="0"></option>
            </select>
        </div>
        <hr />
        <!--RoutingContiner-->

        <!--RoutingContiner-->
    </div>
    <div class="col-md-2 col-lg-2"></div>
</div>

<!--WorkStation Info-->
<div class="modal fade" id="workStationInfo" tabindex="-1" role="dialog" aria-labelledby="myModal-label" style="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="workStationTitle"></h4>
            </div>
            <div class="modal-body">
                <!--Set WorkStation Info Form-->
                <form id="form-workStationInfo">
                    <!--WorkStation Info-->
                    <div class="form-group">
                        <div class="form-inline">
                            <label class="control-label" for="workStationNumber">WorkStation : </label>
                            <input type="text" name="workStationNumber" id="workStationNumber" value="" class="form-control" style="max-width:70%; margin-left:10px; " maxlength="115" autofocus placeholder="" required readonly/>
                        </div>
                    </div>
                    <!--WorkStation Info-->
                    <!--Setup Time-->
                    <div class="form-group">
                        <div class="form-inline">
                            <label class="control-label" for="SetupTime">Setup Time &nbsp;&nbsp;: </label>
                            <input type="text" name="SetupTime" id="SetupTime" value="" class="form-control" style="max-width:70%; margin-left:10px; " maxlength="115" autofocus placeholder="분" required />
                        </div>
                    </div>
                    <!--Setup Time-->
                    <!--Processing Time-->
                    <div class="form-group">
                        <div class="form-inline">
                            <label class="control-label" for="ProcessingTime">Processing &nbsp;&nbsp;&nbsp;: </label>
                            <input type="text" name="ProcessingTime" id="ProcessingTime" value="" class="form-control" style="max-width:70%;  margin-left:10px;" maxlength="115" autofocus placeholder="분" required />
                        </div>
                    </div>
                    <!--Processing Time-->
                    <!--Cycle Time-->
                    <div class="form-group">
                        <div class="form-inline">
                            <label class="control-label" for="CycleTime">Cycle Time &nbsp;&nbsp;&nbsp;: </label>
                            <input type="text" name="CycleTime" id="CycleTime" value="" class="form-control" style="max-width:70%;  margin-left:10px;" maxlength="115" autofocus placeholder="회" required />
                        </div>
                    </div>
                    <!--Cycle Time-->
                </form>
                <!--Set WorkStation Info Form-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalclose" onclick="closeWorkStationInfo();">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveWorkStationInfo();">Save</button>
            </div>
        </div>
    </div>
</div>
<!--WorkStation Info-->
<!--Create Routing Modal-->
<div class="modal fade" id="ModalCreateRouting" tabindex="-1" role="dialog" aria-labelledby="Warning-label" style="top:400px; left:0px; position:absolute; ">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Create New Routing</h4>
            </div>
            <div class="modal-body">
                <form id="form-groupmodal">
                    <div class="form-group" style="padding-top:10px;">
                        <div class="form-inline" style="margin-top: auto; margin-bottom:auto;">
                            <label class="control-label" for="CreateNewRouting">Create New Routing : </label>
                            <input type="text" name="CreateNewRouting" id="CreateNewRouting" value="" class="form-control" style="max-width:70%; margin-left:10px;" maxlength="115" autofocus placeholder="Write New Routing" required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="CreateRoutingModalClose" onclick="clearRoutingModal();">Close</button>
                <button type="button" class="btn btn-primary" onclick="createRouting();" id="createNewRoutingBtn">Create</button>
            </div>
        </div>
    </div>
</div>
<!--Create Routing Modal-->

<script>
    // workStation Array
    var workStationInfo = [];

    $(document).ready(function () {

        // replace modal text with workstation data
        $('#workStationInfo').on('shown.bs.modal', function () {
            for (var i = 0; i < workStationInfo.length; i++) {
                if (workStationInfo[i].WID == $('#workStationNumber').val()) {
                    $('#workStationTitle').text(workStationInfo[i].Title);
                    $('#SetupTime').val(workStationInfo[i].SetupTime);
                    $('#ProcessingTime').val(workStationInfo[i].ProcessingTime);
                    $('#CycleTime').val(workStationInfo[i].CycleTime);
                }
            }
        })

        // if error occur then redirect to this page !! should be updated..
        window.onerror = function() {
            window.location.href = window.location;
        }

        // MVC to displayWorkStationLst
        $.ajax({
            url: displayWorkStationList(@Session["GroupUID"]),
            async: false,
            success: function () {
                $.ajax({
                    url: dragAnddrop(),
                    async: false,
                    success: function () {
                    }
                });
            }
        });

        // Pick workstation by routing number (data from mvc)
        if (@Model != 0) {
             $('#createRouting').prop('disabled', true);
             $.ajax({
                 url: pick(),
                 async: false,
                 success: function () {

                 }
            });
        }

        // Bind Routing Lst Data
        $.ajax({
            type: "GET",
            url: "/api/Routing/" + @Session["GroupUID"],
            dataType: "json",
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                $.each(response, function (key, value) {
                    // Option tag Data bind
                    var routingLst = "<option value=\"" + value.RID + "\" >" + value.RoutingName + "</option>";
                    $('#RoutingLst').append(routingLst);
                })
               $('#RoutingLst').val(@Model.ToString());
            }
        });
    });

    // closeworkStation Info
    function closeWorkStationInfo() {

    }

    // update workstation info (after close workstation info modal)
    function saveWorkStationInfo() {
        var WID;
        for (var i = 0; i < workStationInfo.length; i++) {
            if (workStationInfo[i].WID == $('#workStationNumber').val()) {
               index = i;
            }
        }
        workStationInfo[index].ProcessingTime = $('#ProcessingTime').val();
        workStationInfo[index].SetupTime = $('#SetupTime').val();
        workStationInfo[index].CycleTime = $('#CycleTime').val();
        
        if ($('#RoutingLst').val() != 0) {
            var rid = parseInt($('#RoutingLst').val());
            var routing = [];

            routing.push({
                SourceWID: parseInt($('#workStationNumber').val()),
                ProcessingTime: parseFloat($('#ProcessingTime').val()),
                SetupTime: parseFloat($('#SetupTime').val()),
                Cycle: parseInt($('#CycleTime').val())
            });

            // POST Node data
            $.ajax({
                type: "PUT",
                url: "/api/Routing/" + rid,
                dataType: "json",
                async: false,
                data: JSON.stringify(routing),
                contentType: 'application/json; charset=utf-8',
                success: function (value) {
                }
            });
        }

        $('#modalclose').click();
    }
 
    // pick workStation
    function pick() {
        window.onerror = function () {
            window.location.href = window.location;
        }

        // Get routing node by routing Number
        $.ajax({
            type: "GET",
            url: "/api/Routing/" + @Session["GroupUID"] + "/" + @Model,
            async: false,
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var node = [];
            
                $.each(response, function (key, value) {
                    if (value.SourceWID != -99 && value.SourceWID != -1) {
                        var index;
                        //WorkStation Info set
                        for (var i = 0; i < workStationInfo.length; i++) {
                            if (workStationInfo[i].WID == value.SourceWID) {
                                index = i;
                            }
                        }
                         workStationInfo[index].ProcessingTime = value.ProcessingTime;
                         workStationInfo[index].SetupTime = value.SetupTime;
                         workStationInfo[index].CycleTime = value.Cycle;
                    }

                    if (value.SourceWID != 0) {
                        node.push({
                            ID: value.SourceWID,
                            positionX: value.X,
                            positionY: value.Y
                        });
                    }
                })
                //WorkStation Info set
                for (i = 0; i < node.length; i++) {
                    var id;
                    if (node[i].ID == -1) {
                        id = '#itemstart';
                    } else if (node[i].ID == -99) {
                        id = '#itemend';
                    } else {
                        id = '#item' + node[i].ID;
                    }
                    triggerDragAndDrop(id, '#RoutingContainer');
                    $(id).css("top", node[i].positionY).css("left", node[i].positionX).css('position', 'absolute');

                }
                triggerDragAndDrop('#trigger', '#RoutingContainer');
                $('#trigger').remove();
            }
        }).done(
            // Get routing connection by routing Number
            $.ajax({
                type: "GET",
                url: "/api/Routing/" + @Session["GroupUID"] + "/" +@Session["GroupUID"] + "/" +  @Model,
                async: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    var connection = [];
                    $.each(response, function (key, value) {
                        connection.push({
                            source: value.SourceWID,
                            target: value.TargetWID
                        });
                    })

                    for (i = 0; i < connection.length; i++) {
                        var sourceNode = connection[i].source;
                        var targetNode = connection[i].target;
                        if (sourceNode == -1) {
                            sourceNode = 'itemstart';
                        } else if (sourceNode == -99) {
                            sourceNode = 'itemend';
                        } else {
                            sourceNode = 'R' + 'item' + sourceNode;
                        }
                        if (targetNode == -1) {
                            targetNode = 'itemstart';
                        } else if (targetNode == -99) {
                            targetNode = 'itemend';
                        } else {
                            targetNode = 'L' + 'item' + targetNode;
                        }
                        jsPlumb.connect({
                            uuids: [sourceNode, targetNode]
                        });
                    }
                }
            })
        );
    }

    // set draggable & droppable
    function dragAnddrop() {
        var dropped = false;

        $('li[id^="item"]').draggable({
            helper: function () {
                $copy = $(this).clone();
                return $copy;
            },
            start: function (event, ui) {
                dropped = false;
            },
            stop: function (event, ui) {
                if (dropped == true) {
                    $(this).remove();
                } else {
                    dropped = false
                }
                $('#' + $(this).attr('id')).draggable({
                    connectToSortable: "#RoutingContainer",
                    //helper: "clone",
                    revert: "invalid",
                    stop: function () {
                        jsPlumb.empty('#WorkStationContainer');
                    }
                });

                // add css class to dropped node
                if ($(this).attr('id') == "itemstart") {
                    $('#' + $(this).attr('id') + " > .card").css('background-color', 'red').css('width', '50');
                } else if ($(this).attr('id') == "itemend") {
                    $('#' + $(this).attr('id') + " > .card").css('background-color', '#007bff').css('width', '50');
                } else {
                    $('#' + $(this).attr('id')).dblclick(function (e) {
                        $('#workStationInfo').css({ top: 400, left: 900, position: 'absolute', width: 400 });
                        var id = $(this).attr('id').substring(4, $(this).attr('id').length);
                        $('#workStationNumber').val(id);
                        $('#workStationInfo').modal('toggle');
                    });
                    $('#' + $(this).attr('id') + " > .card").css('background-color', 'white').mouseover(function () {
                        $(this).css("background-color", "#007bff");
                    }).mouseout(function () {
                        $(this).css("background-color", "white");
                    });
                }
            }
        });

        // set droppable
        $("#RoutingContainer").droppable({
            accept: '.draggable',
            containment: '#RoutingContainer',

            // drop
            drop: function (event, ui) {
                dropped = true;
                droppedElement = ui.helper;
                $.ui.ddmanager.current.cancelHelperRemoval = true;
                droppedElement.appendTo('#RoutingContainer');
                revert: "invalid"
                $(droppedElement).addClass('node');

                // add JSPlumb after dropped to droppable
                if ($(droppedElement).hasClass('droped')) {
                } else {
                    if ($(droppedElement).attr('id') == "trigger") {
                    }
                    else if ($(droppedElement).attr('id') == "itemstart") {
                        jsPlumb.addEndpoint($(droppedElement), {
                            maxConnections: -1,
                            isSource: true,
                            isTarget: false,
                            anchor: "Right",
                            uuid: $(droppedElement).attr('id')
                        });
                        $(droppedElement).addClass('droped');
                    } else if ($(droppedElement).attr('id') == "itemend") {
                        jsPlumb.addEndpoint($(droppedElement), {
                            maxConnections: -1,
                            isSource: false,
                            isTarget: true,
                            anchor: "Left",
                            uuid: $(droppedElement).attr('id')
                        });
                        $(droppedElement).addClass('droped');
                    } else {
                        jsPlumb.addEndpoint($(droppedElement), {
                            maxConnections: -1,
                            isSource: true,
                            isTarget: false,
                            anchor: "Right",
                            uuid: 'R' + $(droppedElement).attr('id')
                        });
                        jsPlumb.addEndpoint($(droppedElement), {
                            maxConnections: -1,
                            isSource: false,
                            isTarget: true,
                            anchor: "Left",
                            uuid: 'L' + $(droppedElement).attr('id')
                        });
                        $(droppedElement).addClass('droped');
                    }
                }

                // repaint Everything
                $('.draggable').draggable({
                    drag: function () {
                        jsPlumb.repaintEverything();
                    }
                });
            }
        });
    }

    // cleare routing modal
    function clearRoutingModal() {
        $('#CreateNewRouting').val('');
    }

    // bind routing data ?
    function bindRoutingData() {
        if ($('#RoutingLst').val() != @Model.ToString()) {
            var routingNumber = $('#RoutingLst').val();
            window.location.href = '/Board/Routing?routingNumber=' + routingNumber;
        }
    }

    // Thread stop
    function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds) {
                break;
            }
        }
    }

  var triggerDragAndDrop = function (selectorDrag, selectorDrop) {

     // function for triggering mouse events
     var fireMouseEvent = function (type, elem, centerX, centerY) {
       var evt = document.createEvent('MouseEvents');
       evt.initMouseEvent(type, true, true, window, 1, 1, 1, centerX, centerY, false, false, false, false, 0, elem);
       elem.dispatchEvent(evt);
     };

     // fetch target elements
     var elemDrag = document.querySelector(selectorDrag);
     var elemDrop = document.querySelector(selectorDrop);
     if (!elemDrag || !elemDrop) return false;

     // calculate positions
     var pos = elemDrag.getBoundingClientRect();
     var center1X = Math.floor((pos.left + pos.right) / 2);
     var center1Y = Math.floor((pos.top + pos.bottom) / 2);
     pos = elemDrop.getBoundingClientRect();
     var center2X = Math.floor((pos.left + pos.right) / 2);
     var center2Y = Math.floor((pos.top + pos.bottom) / 2);

     // mouse over dragged element and mousedown
      $.ajax({
          url: fireMouseEvent('mousemove', elemDrag, center1X, center1Y),
          async: false,
          success: function () {
          }
      }).done(fireMouseEvent('mouseenter', elemDrag, center1X, center1Y)).done(fireMouseEvent('mouseover', elemDrag, center1X, center1Y)).done(fireMouseEvent('mousedown', elemDrag, center1X, center1Y)).done(fireMouseEvent('dragstart', elemDrag, center1X, center1Y)).done(fireMouseEvent('drag', elemDrag, center1X, center1Y)).done(fireMouseEvent('mousemove', elemDrag, center1X, center1Y)).done(fireMouseEvent('drag', elemDrag, center2X, center2Y)).done(fireMouseEvent('mousemove', elemDrop, center2X, center2Y)).done(fireMouseEvent('mouseenter', elemDrop, center2X, center2Y)).done(fireMouseEvent('dragenter', elemDrop, center2X, center2Y)).done(fireMouseEvent('mouseover', elemDrop, center2X, center2Y)).done(fireMouseEvent('dragover', elemDrop, center2X, center2Y)).done(fireMouseEvent('drop', elemDrop, center2X, center2Y)).done(fireMouseEvent('dragend', elemDrag, center2X, center2Y)).done(fireMouseEvent('mouseup', elemDrag, center2X, center2Y));

      return true;
    };

    // create routing 
    function createRouting() {
        var routingName = $('#CreateNewRouting').val();
        var nodes = [];
        $('.node').each(function (event, node) {
            var WID = $(node).attr('id').substring(4, $(this).attr('id').length);
            var setupTime;
            var processingTime;
            var cycleTime;

            for (var i = 0; i < workStationInfo.length; i++) {
                if (workStationInfo[i].WID == WID) {
                    setupTime =   workStationInfo[i].SetupTime;
                    processingTime =  workStationInfo[i].ProcessingTime;
                    cycleTime = workStationInfo[i].CycleTime;
                }
            }
            // push node data to node Array
            nodes.push({
                GroupUID: @Session["GroupUID"],
                RoutingName: routingName,
                SourceID: $(node).attr('id'),
                X: parseInt($(node).css('left')),
                Y: parseInt($(node).css('top')),
                SetupTime: setupTime,
                ProcessingTime: processingTime,
                Cycle: cycleTime
            });
        });

        // POST Node data
        $.ajax({
            type: "POST",
            url: "/api/Routing/",
            dataType: "json",
            async: false,
            data: JSON.stringify(nodes),
            contentType: 'application/json; charset=utf-8',
            success: function (value) {
            }
        });

        // push connection data to node Array
        var connections = [];
        $.each(jsPlumb.getConnections(), function (event, connection) {
            connections.push({
                RoutingName: routingName,
                SourceID: connection.sourceId,
                TargetID: connection.targetId
            });
        });

        // POST Connection data
        $.ajax({
            type: "POST",
            url: "/api/Routing/",
            dataType: "json",
            async: false,
            data: JSON.stringify(connections),
            contentType: 'application/json; charset=utf-8',
            success: function (value) {
            }
        });
        $('#CreateRoutingModalClose').click();
        window.location.href = '/Board/Routing';
    }

    // remove routing data 
    function removeRouting() {
        var rid = parseInt($('#RoutingLst').val());
        if (rid == 0) {
            alert('삭제할 대상을 선택하세요');
        } else {
            if (confirm('정말 삭제하시겠습니까?, 삭제된 Routing은 복구할 수 없습니다.')) {
                $.ajax({
                    type: "DELETE",
                    url: "/api/Routing/" + rid,
                    dataType: "json",
                    success: function (response) {
                        alert("'" + $('#RoutingLst :selected').text() + "'가 삭제되었습니다.");
                        window.location.href = '/Board/Routing/';
                    }
                });
            }
        }
    }

    // display workstation lst by groupUID
    function displayWorkStationList(groupUID) {
        var workStationContainer = "<ul id='WorkStationContainer'></ul>";
        $('#WC').append(workStationContainer);
        var routingContainer = "<ul class='row' id='RoutingContainer' style='width:100%; height: 900px; border:1px dotted red; margin-left:3px; background-color: #ababab; border-radius:5px; z-index: -1;'></ul>";
        $('#RC').append(routingContainer);
        var start = "<li class='draggable' style='text-align:center;' id='itemstart'><div class='card start' style='width:190px; height:100%; background-color:red;'><span style='margin:auto; color:white;'>Start</span></div></li>";
        var end = "<li class='draggable' style='text-align:center;' id='itemend'><div class='card end' style='width:190px; height:100%; background-color:#007bff;'><span style='margin:auto; color:white;'>End</span></div></li>";
        var trigger = "<li class='draggable' style='text-align:center;' id='trigger'><div class='card end' style='width:190px; height:100%; background-color:pupple'><span style='margin:auto; color:white;'></span></div></li>";

        $('#WorkStationContainer').append(trigger);
        $('#WorkStationContainer').append(start);
        $('#WorkStationContainer').append(end);

        // get workstaion data from DB
        $.ajax({
            type: "GET",
            url: "/api/WorkStation/" + groupUID,
            async: false,
            dataType: "json",
            success: function (response) {
                $.each(response, function (key, value) {
                    var workStation = "<li class='draggable' style='text-align:center;' id='item" + value.WId + "'>";
                    workStation += "<div class='card' style='width:190px; height:100%;'>";
                    workStation += "<span style='margin:auto;'>" + value.Title + "</span></div></li>";
                    workStationInfo.push({
                        WID: value.WId,
                        Title: value.Title,
                        ProcessingTime: value.ProcessingTime,
                        SetupTime: value.SetupTime,
                        CycleTime: 1
                    });
                    $('.card').not('.start').not('.end').mouseover(function () {
                        $(this).css("background-color", "#007bff");
                    }).mouseout(function () {
                            $(this).css("background-color", "transparent");
                        }).dropdown();
                    $('#WorkStationContainer').append(workStation);
                })
            }
        });
    }
</script>

