
@{
    ViewBag.Title = "APSmini";
}

<style>
    @@media (min-width: 400px) and (max-width: 1800px) {
        table :not(.ui-datepicker-calendar) tbody {
            max-height: 580px;
        }
    }

    @@media (min-width: 1800px) and (max-width: 2400px) {
        table > #ScheduleLst1 > tbody {
            max-height: 820px;
            max-width: 225px;
        }
        /*table tbody {
            max-height: 820px;
        }*/
    }

    label.error {
        color: red;
    }

    input.error {
        border-color: #ff0000;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    select.error {
        border-color: #ff0000;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    input.error:focus {
        border-color: #ff0000;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c35e5e;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c35e5e;
    }

    select.error:focus {
        border-color: #ff0000;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c35e5e;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c35e5e;
    }

    /*.headT {
        max-width: 200px !important;
        min-width: 200px !important;
        min-height: 50px !important;
        max-height: 50px !important;
    }

    .minute{
        min-width: 50px;
        max-width: 50px;
    }*/

    .workStation {
        width: 225px !important;
    }

    #ScheduleLst1 > tbody {
        overflow-x: no-display;
    }

    #ScheduleLst2 > tbody {
        display: block;
        overflow-y: scroll;
        overflow-x: scroll;
    }

    table:not(.ui-datepicker-calendar) > tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    table > #ScheduleLst1 {
        display: table;
        max-width: 20% !important;
        table-layout: fixed;
    }

    table > #ScheduleLst2 > tbody {
        display: table;
        width: 80%;
        table-layout: fixed;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .node {
        background-color: red;
        
    }

    .start{
        background-color:#3498db;
        text-align:center;
        color: white;
    }

    .end {
        background-color: black;
        text-align: center;
        color: white;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="row">
    <div class="col-md-2 col-lg-2"></div>
    <div class="col-md-8 col-lg-8 container-fluid">
        <h3>
            Schedule
            <!--CreateSchedule Button-->
            <button data-target="#createScheduleModal" data-toggle="modal" class="btn btn-danger" style="float:right;" id="createSchedule" name="createSchedule"><i class="fa fa-paperclip"></i></button>
            <!--CreateSchedule Button-->
        </h3>
        <!--Loade Image-->
        <!--Loader Image-->
        <hr />
        <div class="row">
            <div id="ss" class="col-12">
                <!--Date Picker-->
                <!--                <input type="text" class="form-control" name="name" style="width:150px; display:inline-block;" id="Startdatepicker" onchange="DisplayOrder();" value="" />
                -->
                <!--
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-ellipsis-h" id="symbol"></i>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       <input type="text" class="form-control" name="name" style="width:150px; display:inline-block;" id="Finishdatepicker" onchange="DisplayOrder();" value="" />
                        -->
                <!--Date Picker-->
                <!--Slider-->
                <!--
             <h5 style="float: right;">H</h5>
             <div id="slider" style="float:right; display:inline-block; width:200px; margin-left:10px; margin-right:10px; margin-top:8px;"></div>
             <h5 style="float: right;">M</h5>
            -->
                <!--Slider-->
            </div>
        </div>
        <hr />
        <div id="wait" class="loader" style="position:absolute; margin-left:45%; margin-top:20%;"></div>
        <div class="row container-fluid data-table" id="ScheduleContainer" style="display:none">
            <!--WorkStation Lst Table-->
            <!---->
            <table class="table table-striped table-fixed table-responsive table-bordered table-hover header-fixed" id="ScheduleLst1" name="ScheduleLst1" style="text-align:center; width: 18%;">
                <thead>
                </thead>
                <tbody>
                    <tr id="">
                        <th class="" style="width:225px !important;"><i class="fa fa-calendar"></i></th>
                    </tr>
                    <tr id="" class="table-danger">
                        <th class="" style="width:225px !important">Work Station</th>
                    </tr>
                </tbody>
            </table>

            <!--WorkStation Lst Table-->
            <!--Schedule Table-->
            <table class="table table-striped table-fixed table-responsive table-bordered header-fixed" id="ScheduleLst2" name="ScheduleLst2" style="text-align:center; width:82%;">
                <tbody></tbody>
            </table>
            <!--Schedule Table-->
        </div>
    </div>
    <div class="col-md-2 col-lg-2"></div>
</div>

<!--Create Schedule Modal-->
<div class="modal fade" id="createScheduleModal" tabindex="-1" role="dialog" aria-labelledby="Warning-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Create Schedule</h4>
            </div>
            <div class="modal-body">
                <!-- From Create Schedule -->
                <form id="form-createNewSchedule">
                    <!--input productNumber-->
                    <div class="form-group">
                        <div class="form-inline">
                            <label for="productNumber">Product Number&nbsp; : &nbsp;</label>
                            <input type="number" class="form-control" name="productNumber" id="productNumber" placeholder="Enter Product Number" required>
                        </div>
                    </div>
                    <!--input productNumber-->
                    <!--input lotSize-->
                    <div class="form-group" style="margin-top:5px;">
                        <div class="form-inline">
                            <label for="lotSize">Lot Size &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;</label>
                            <input type="number" class="form-control" name="lotSize" id="lotSize" placeholder="Enter Lot Size" required>
                        </div>
                    </div>
                    <!--input lotSize-->
                    <!--select StartDate-->
                    <div class="form-group" style="margin-top:5px;">
                        <div class="form-inline">
                            <label for="lotSize">Start Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;</label>
                            <input type="text" class="form-control" name="startDate" id="startDate" placeholder="Select Start Date" required>
                        </div>
                    </div>
                    <!--select StartDate-->
                    <!--select endDate-->
                    <div class="form-group" style="margin-top:5px;">
                        <div class="form-inline">
                            <label for="lotSize">End Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;</label>
                            <input type="text" class="form-control" name="endDate" id="endDate" placeholder="Select Due Date" required>
                        </div>
                    </div>
                    <!--select endDate-->
                    <!--select criticalRatio-->
                    <div class="form-group" style="margin-top:5px;">
                        <div class="form-inline">
                            <label for="lotSize">Critical Ratio &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;</label>
                            <select class="custom-select" id="criticalRatio">
                                <option style="background-color:green;" value="0">Low</option>
                                <option style="background-color:orange;" value="1">Middle</option>
                                <option style="background-color:red;" value="2">High</option>
                            </select>
                        </div>
                    </div>
                    <!--select criticalRatio-->
                    <!--select allow-->
                    <div class="form-group" style="margin-top:20px;">
                        <div class="form-inline">
                            <label for="productNumber">Allow WorkStation Group &nbsp; : &nbsp;</label>
                            <input type="checkbox" class="form-control" id="allowWorkStationGroup" placeholder="Enter Product Number">
                        </div>
                    </div>
                    <!--select allow-->
                </form>
                <!-- From Create Schedule -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal" onclick="closeCreateScheduleModal();">Close</button>
                <button type="button" class="btn btn-primary" onclick="return createNewSchedule();">Create</button>
            </div>
        </div>
    </div>
</div>
<!--Create Schedule Modal-->

<script>
    // WorkStaion Lst Array
    var workStationInfo = [];
    // check MVC?
    var set = 0;

    $(document).ready(function () {
        $('#ss').append("<input type='text' class='form-control' name='name' style='width:150px; display:inline-block;' id='Startdatepicker' onchange='DisplayOrder();' value='' />");
       //$('#ScheduleContainer').append("<table class='table table - striped table - fixed table - responsive table - bordered table - hover header - fixed' id='ScheduleLst1' name='ScheduleLst1' style='text - align: center; width: 18 %;'>");
       //$('#ScheduleContainer').append("<thead></thead><tbody><tr id=''><th class='' style='width:225px !important;'><i class='fa fa-calendar'></i></th></tr><tr id='' class='table-danger'><th class='' style='width:225px !important'>Work Station</th></tr></tbody></table>");

        $('#ScheduleContainer').show()
        // order data tooltip
        $('[data-toggle="tooltip"]').tooltip(); 

        // WorkStation List Display
        $.ajax({
            type: "GET",
            url: "/api/WorkStation/" + @Session["GroupUID"],
            dataType: "json",
            async: false,
            success: function (response) {
                $.each(response, function (key, value) {
                    var workStation = "<tr><th id='" + value.WId + "' class='workStation'>" + value.Title + "</th></tr>";
                    $('#ScheduleLst1 > tbody').append(workStation);
                })
                $('.workStation').attr('style', 'width: 225px !important;')
            }
        });

        // Slider
        /*
        $('#slider').slider(
            {
                value: 1,
                min: 1,
                max: 2,
                step: 1,
                change: function (event, ui) {
                    switch (ui.value) {
                        case 1:
                            displayScheduleByMinute();
                            break;
                        case 2:
                            displayScheduleByHour();
                            break;
                        default: displayScheduleByMinute();
                    }
                }
            }
        );
        */

        // Set DatePicker Date to Day before
        var now = new Date();
        now.setDate(now.getDate() - 1);
        var startDate = $.datepicker.formatDate('yy-mm-dd', now);
        $('#Startdatepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $('#Startdatepicker').datepicker('setDate', startDate);

        // Set DatePicker Date +7 Days from today
        now.setDate(now.getDate() + 7);
        var endDate = $.datepicker.formatDate('yy-mm-dd', now);

        /*
        $('#Finishdatepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $('#Finishdatepicker').datepicker('setDate', endDate);
        */

        // Create New Product Modal Validation
        $('form').validate({
            rules: {
                productNumber: {
                    required: true,
                    digits: true,
                    minlength: 1
                },
                lotSize: {
                    required: true,
                    minlength: 1
                },
                startDate: {
                    required: true
                },
                endDate: {
                    required: true
                },
            },
            messages: {
                productNumber: {
                    required: "",
                    digits: "",
                    minlength: ""
                },
                lotSize: {
                    required: "",
                    minlength: ""
                },
                startDate: {
                    required: ""
                },
                endDate: {
                    required: ""
                },
            }
        });

        // set Datepicker dateFormat
        $('#startDate').datepicker({
            dateFormat: 'yy-mm-dd'
        });
        var startDate = $.datepicker.formatDate('yy-mm-dd', new Date());
        $('#startDate').datepicker('setDate', startDate);
        $('#endDate').datepicker({
            dateFormat: 'yy-mm-dd'
        });

        // New Group Modal auto focus
        $('#createScheduleModal').on('shown.bs.modal', function () {
            $('#productNumber').focus();
        });

        // Set Sldier Default Value
        // $('#slider').slider('value', 1);
        displayScheduleByMinute();
    })

    // Display Order on Schedule Table
    function DisplayOrder() {
        displayScheduleByMinute();

        /*switch ($('#slider').slider("option", "value")) {
            case 1:
                displayScheduleByMinute();
                break;
            case 2:
                displayScheduleByHour();
                break;
            case 3:
                displayScheduleByDay();
                break;
        }
        */
    }

    // Display Order by 5Minutes? 
    function displayScheduleByMinute() {
        if (set == 0) {
              set++;
              $('#wait').show();
              $('#symbol').hide();
              $('#Finishdatepicker').hide();
              $('#ScheduleLst2 > tbody').html('');
              $('#ScheduleLst2 > tbody').append("<tr id='line1'></tr><tr id='line2' class='table-danger'></tr>")

              var s = $('#Startdatepicker').datepicker('getDate');
              var hour = "";
              var d = "";
              for (var i = 8; i <= 21; i++) {
                   hour += "<th class='date'>" + i  + "H</th>";
                  for (var j = 1; j <= 13; j++) {
                      if (j == 13) {
                          d += "<th class='minute' style='background-color: #fff7dc !important;'></th>"
                      } else {
                          d += "<th class='minute' id='" + (i + "-" + j) + "'>" + (j*5) + "</th>";
                      }
                  }
            }

              $('#line1').append(hour);
              $('#line2').append(d);
              $('.date').attr('style', 'width: 585px !important;');

              //var count = 0;
              var minute = "";
              $('#ScheduleLst1').find('tbody > tr > th').each(function () {
                  if ($(this).hasClass('workStation')) {
                      // !! Should be updated someday.
                      //count++;
                      //if ( (count%14) == 0) {
                      //}
                      var id = $(this).attr('id');
                      minute += "<tr>";
                      for (var i = 8; i <= 21; i++) {
                          for (var j = 1; j <= 13; j++) {
                              if (j == 13) {
                                  minute += "<th class='minute' style='background-color: #fff7dc !important;'>-</th>"
                              } else {
                                  minute += "<th class='minute node' id='" + ("w" + id + "-" + i + "-" + j) + "'></th>";
                              }
                          }
                      }
                      minute += "</tr>";
                  }
              });
              $('#line2').after(minute);
              $('.minute').width(20);
              $('#wait').hide();
        }

        // add 'start' or 'end' or 'node' class to schedule
        $('#ScheduleLst2').find('tbody > tr > th').each(function () {
            if ($(this).hasClass('node')) {
                $(this).removeClass('node');
            }
            if ($(this).hasClass('start')) {
                $(this).removeClass('start');
                $(this).html('');
            }
            if ($(this).hasClass('end')) {
                $(this).removeClass('end');
                $(this).html('');
            }
        });

        // Get all Schedule Lst by selected date
        var start = $('#Startdatepicker').val();
        $.ajax({
            type: "GET",
            url: "/api/Schedule/" + @Session["GroupUID"] + "/" + start,
            dataType: "json",
            success: function (response) {
                var oid;
                var data;
                $.each(response, function (key, value) {
                    if (oid != value.OId) {
                        oid = value.OId;
               
                       // get tooltip data by algorithm
                       $.ajax({
                           type: "GET",
                           url: "/api/Data/"+ oid,
                           dataType: "json",
                           async: false,
                           success: function (response) {
                               data = "";
                               $.each(response, function (key, value) {
                                   data += value.Description + "(" + value.productNumber + ")" + " : " + value.count + " / ";
                               });
                           }
                       });
                    }

                    var w = value.WId;
                    var start = new Date(value.StartDate);
                    var end = new Date(value.EndDate);
                    var s1 = start.getHours();
                    var s2 = (start.getMinutes()/5)+1;

                    if (s2 == 0) {
                        s2 = 1;
                    }

                    var e1 = end.getHours();
                    var e2 = (end.getMinutes()/5);
                    if (e2 == 0) {
                        e1 = e1 - 1;
                        e2 = 12;
                    }

                    var a = s1;
                    var b = s2; 
                    var check = true;
                    var f = true;
                  
                    while (check) {
                        if (a == e1 && b == e2) {
                            var id = 'w' + w + '-' + a + '-' + b;
                            $('#' + id).addClass('end');
                            $('#' + id).html('E');
                            $('#' + id).attr('data-toggle', 'tooltip');
                            $('#' + id).attr('title', data);
                            check = false;
                        } else {
                            var id = 'w' + w + '-' + a + '-' + b;
                            // alert(id);
                            if (f == true) {
                                $('#' + id).addClass('start');
                                $('#' + id).html('S');
                                $('#' + id).attr('data-toggle', 'tooltip');
                                $('#' + id).attr('title', data);
                                f = false;
                            } else {
                                $('#' + id).addClass('node');
                                $('#' + id).attr('data-toggle', 'tooltip');
                                $('#' + id).attr('title', data);
                            }
                        }
                        if (b == 12) {
                            a++;
                            b = 1;
                        } else {
                            b++;
                        }
                    }
                 });
            }
        });
    }

    // !! Should be updated someday.
    function displayScheduleByHour() {
        set = 0;
        $('#wait').show();
        $('#symbol').show();
        $('#Finishdatepicker').show();
        $('#ScheduleLst2 > tbody').html('');
        $('#ScheduleLst2 > tbody').append("<tr id='line1'></tr><tr id='line2' class='table-danger'></tr>")
        var f = $('#Finishdatepicker').datepicker('getDate');
        var s = $('#Startdatepicker').datepicker('getDate');
        var DayBetween = Math.floor((f.getTime() - s.getTime()) / 86400000);
        var date = "";
        var d = "";
        for (var i = 0; i <= DayBetween; i++) {
            var k = $('#Startdatepicker').datepicker('getDate');
            k.setDate(k.getDate() + i);
            var dateString = (k.getFullYear() + "-" + (k.getMonth() + 1) + "-" + k.getDate());
            date += "<th class='date'>" + dateString + "</th>";
            for (var j = 8; j <= 22; j++) {
                if (j == 22) {
                    d += "<th class='minute' style='background-color: #fff7dc !important;'></th>"
                } else {
                    d += "<th class='minute' id='" + (i + "-" + j) + "'>" + j + "</th>";
                }
            }
        }
        $('#line1').append(date);
        $('#line2').append(d);
        $('.date').attr('style', 'width: 675px !important;');
        // var count = 0;
        var hour = "";
        $('#ScheduleLst1').find('tbody > tr > th').each(function () {
            if ($(this).hasClass('workStation')) {
                // !! Should be updated someday.
                //count++;
                //if ( (count%14) == 0) {
                //}
                var id = $(this).attr('id');
                hour += "<tr>";
                for (var i = 0; i <= DayBetween; i++) {
                    for (var j = 8; j <= 22; j++) {
                        if (j == 22) {
                            hour += "<th class='minute' style='background-color: #fff7dc !important;'>-</th>"
                        } else {
                            hour += "<th class='minute' id='" + ("w"+ id + "-" + i + "-" + j) + "'></th>";
                        }
                    }
                }
                hour += "</tr>";
            }
        });
        $('#line2').after(hour);
        $('.minute').width(20);
        $('#wait').hide();
    }

    // ?
    function updateSchedule(value) {
        alert(value);
    }

    // Close Create ScheduleModal
    function closeCreateScheduleModal() {
        $('#productNumber').val('');
        $('#lotSize').val('');
        var startDate = $.datepicker.formatDate('yy-mm-dd', new Date());
        $('#startDate').datepicker('setDate', startDate);
        $('#endDate').val('');
        $('#criticalRatio').val('0');
        $('#allowWorkStationGroup').prop('checked', false);
        $('#form-createNewSchedule').validate().resetForm();
    }

    // Create New Schedule
    function createNewSchedule() {
        var productNumber = $('#productNumber').val();
        var routingName;
        var lotSize = $('#lotSize').val();
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        var criticalRatio = $('#criticalRatio').val();
        var allowWorkStationGroup = 0;
        var count = 0;
        if ($('#productNumber').valid() == false) {
            count++;
        }
        if ($('#lotSize').valid() == false) {
            count++;
        }
        if ($('#startDate').valid() == false) {
            count++;
        }
        if ($('#endDate').valid() == false) {
            count++;
        }
        if (count > 0) {
            return false;
        }
        var flag = false;

        // Get Routing Info From Routing DB
        $.ajax({
            type: "GET",
            url: "/api/Product/"+ @Session["GroupUID"] + "/" + productNumber,
            dataType: "json",
            async: false,
            success: function (response) {
                if (response == null) {
                    alert('Routing 정보가 등록되지 않았습니다. 등록후 입력가능합니다.');
                    $('#productNumber').val('');
                    flag = true;
                    return false;
                } else {
                    routingName = response.RoutingName;
                }
            }
        });
        if ($('#allowWorkStationGroup').is(":checked") == true) {
            allowWorkStationGroup = 1;
        }
        var data = "{GroupUID : \"" + @Session["GroupUID"] + "\", ProductNumber : \"" + productNumber + "\", LotSize : \"" + lotSize + "\", StartDate: \"" + startDate + "\", EndDate : \"" + endDate + "\", CriticalRatio : \"" + criticalRatio + "\", UserName : \"" + "@Session["UserName"]" + "\", AllowWorkStationGroup : \"" + allowWorkStationGroup + "\" , RoutingName : \"" + routingName + "\"}";

        // Create New Schedule
        if (!flag) {
            $.ajax({
                type: "POST",
                url: "/api/Order",
                contentType: 'application/json; charset=utf-8',
                data: data,
                dataType: "json",
                success: function (response) {
                    $('#closeModal').click();
                }
            });
        }

        // Check Slider value
        switch ($('#slider').slider("option", "value")) {
            case 1:
                displayScheduleByMinute();
                break;
            case 2:
                displayScheduleByHour();
                break;
        }
    }
</script>

